#rectangle {
    height: 200px;
    width: 400px;
    border: 1px solid black;
    position: relative;
    background-color: blue;

}

#Circle {
    height: 100px;
    width: 100px;
    border: 1px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 10px;
    background-color: green;

}
#circle1{
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 50%;
    background-color: blueviolet;
    top:25px;
    right: 25px;
    position: absolute;
   
}