body{
    background-color: aqua;
    margin-top: 50px;
    margin-left: 50px;
}
.h1{
    color: brown;
}
.btn{
    background-color: rgb(0, 255, 76);
}
#result{
    color: rgb(255, 115, 0);
    font-size:30px;
}
